#wrapper,
main,
#content,
#sidebar,
aside,
section{
	@include box;
}
.layout {
	@include box;
	max-width:1280px;
	margin:0 auto;
	@media (max-width: 1319px) {
		width: 96%;
	}
	@media (max-width: 567px) {
		width: 90%;
	}
}
