footer {
	@include box;
	background-color: #2A254B;
	width: 100%;
	.layout {
		position: relative;
		.footer-top {
			display: flex;
			justify-content: space-between;
			padding: 58px 0 48px 0;
			gap: 110px;
			@media (max-width: 959px) {
				display: block;
			}
			@media (max-width: 349px) {
				padding-top: 0;
			}
			.block-nav {
				display: flex;
				justify-content: space-between;
				flex: 1;
				@media (max-width: 479px) {
					flex-wrap: wrap;
				}
				@media (max-width: 349px) {
					justify-content: center;
				}
				.lists-foot {
					display: flex;
					flex-direction: column;
					gap: 12px;
					@media (max-width: 479px) {
						margin-top: 40px;
						width: 50%;
					}
					@media (max-width: 349px) {
						flex-wrap: wrap;
						width: 100%;
					}
					li {
						@media (max-width: 349px) {
							display: flex;
							justify-content: center;
						}
						h6 {
							color: var(--white, #FFF);
							font-family: Clash Display;
							font-size: 16px;
							font-style: normal;
							font-weight: 400;
							line-height: normal;
						}
						a {
							color: var(--white, #FFF);
							font-family: Satoshi;
							font-size: 14px;
							font-style: normal;
							font-weight: 400;
							line-height: normal;
						}
					}
				}
			}
			.block-form {
				width: 100%;
				flex: 1;
				@media (max-width: 479px) {
					margin-top: 40px;
				}
				h6 {
					color: var(--white, #FFF);
					font-family: Clash Display;
					font-size: 16px;
					font-style: normal;
					font-weight: 400;
					line-height: normal;
				}
				form {
					display: flex;
					margin-top: 16px;
					width: 100%;
					.entry {
						width: 100%;
						@media (max-width: 959px) {
							width: 100%;
						}
						.row {
							position: relative;
							input {
								font-family: Satoshi;
								font-size: 16px;
								font-style: normal;
								font-weight: 400;
								line-height: normal;
								background-color: rgba(255, 255, 255, 0.15);
								border: none;
								padding: 17px 0 17px 32px;
								width: 100%;
								height: 56px;
								color: var(--white, #FFF);
							}
							::placeholder {
								color: var(--white, #FFF);
							}   
						}
					}
					.button-holder {
						width: 118px;
						.request {
							color: #2A254B;
							font-family: Satoshi;
							font-size: 16px;
							font-style: normal;
							font-weight: 400;
							line-height: 150%;
							border: none;
							cursor: pointer;
							height: 56px;
							width: 118px;
						}
					}
				}
			}
		}
		.footer-bottom {
			display: flex;
			justify-content: space-between;
			align-items: center;
			border-top: 1px solid #4E4D93;
			height: 80px;
			@media (max-width: 479px) {
				justify-content: center;
			}
			.copyright {
				position: relative;
				p {
					color: var(--white, #FFF);
					font-family: Satoshi;
					font-size: 14px;
					font-style: normal;
					font-weight: 400;
					line-height: normal;
				}
			}
			.social {
				display: flex;
				gap: 24px;
				height: 24px;
				@media (max-width: 479px) {
					display: none;
				}
				a {
					width: 24px;
					height: 24px;
					img {
						width: 100%;
						height: 100%;
					}
				}
			}
		}
	}
}
